streamlit
pandas
langchain
langchain-community
boto3
chromadb
s3fs
fsspec
pymupdf
langchain-openai
tiktoken
python-dotenv
pydantic
langchain-experimental
docker
tabulate
pyarrow
tenacity
fastapi
uvicorn